{% extends 'layout_crud.html.twig' %}

{% block title %}New MeteoData{% endblock %}

{% block body %}
    <h1>Create new MeteoData</h1>

    {{ include('meteo_data/_form.html.twig') }}

    <div class="button-container">
        <a href="{{ path('app_meteo_data_index') }}" class="btn btn-secondary me-2">back to list</a>
    </div>
{% endblock %}
