{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block content %}
            <div class="row mt-3">
                <div class="col">
                    <h1>Weather Records - all of them</h1>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}